/* 1. global 
   2. header
   3. menu
*/

/* global */
body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: #777777;
    background-color: #fff;
    width:1000px;
    margin:0 auto;
}

h1 {
    font-size: 60px;
    margin:20px 0;
    color: #fcda9a;
}
h2 {
    font-size: 44px;
}

h3 {
    color: #b48c80;
    font-size: 36px;
}
h4 {
    font-size: 27px;
    border-bottom:1px solid black;
    margin-bottom: 25px;
}
h1, h2, h3, h4 {
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px
}

ul
{
    list-style-type: none;
}
ul, ol {
    margin-top: 0;
margin-bottom: 10px;
}
p {
    margin: 0 0 10px;
}
/* header */
#header {
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.90);
}

#header nav.nav {

}

#header nav.nav ul.items {
    height: 50px;
    margin: 12px;
}

#header nav.nav ul.items li {  
    float: left;
}

#header nav.nav ul.items li.current-menu-item a {
    color: rgb(252, 218, 154);
}

#header nav.nav ul.items li a {
    color:rgb(255, 255, 255);
    display:block;
    line-height:20px;
    margin:0 4px;
    padding:15px;
}

/* menu */
.half {
    width: 46%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}


.menu .menu-item {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.page-content .menu{
    margin-bottom: 0;
}
.menu .menu-item-thumbnail,
.menu .menu-item-description {
    float: left;
}
.menu .menu-item-thumbnail {
    margin-right: 20px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 98px;
    height: 98px;
}
.menu .menu-item-description {
    width: 342px;
    margin-right: 13px;
    padding: 10px 0;
}
.menu .menu-item-description p{
    font-size: 14px;
    line-height: 22px;
}
.menu .menu-item-price {
    float: right;
    width: 82px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.menu .menu-item-price p{
    font-size: 40px;
    padding: 35px 0;
    text-align: center;
}

#footer {
    background-color: #0b0e13;
    padding: 10px 0;
}

#footer p {
    color: #7f848a;
    padding-bottom: 0;
    padding-top: 15px;
    font-size: 13px;
    line-height: 13px;
}

.clear {
    clear: both;
}