h1 {
    font-size: 42px;
    color: rgb(168, 109, 147);
    
}

h2 {
    font-size:  27px;
    
    text-transform: uppercase;
}

h1, h2 {
    font-weight: 400;
    font-size: 30px;
}

body {
    font-family: arial
}

.a {
    border-width: 1px;
    border-color: blue;
    border-style: solid;
    background-color:  red;
    
    margin-top: 100px;
    
}